Build/
bUILD/
build/
BUILD

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeScripts
Testing
MakeFile
cmake_install.cmake
install_mainfest.txt
compile_commands,json
CTestTestfile.cmake
_deps